Nama : Sakinah Yunus

NIM  : H071191046

Penulisan Statement Python

In [1]:
print("Hello World!")
print("Belajar Python")

Hello World!
Belajar Python

Penulisan Komentar

Tanda Pagar (#)

In [2]:
# ini adalah komentar
# Ini juga komentar

Triple Tanda Petik

In [3]:
class Pagar:
    """kelas pagar untuk membuat objek pagar. """
    def __init__(self, warna, tinggi, bahan):
        self.warna = warna
        self.tinggi = tinggi
        self.bahan = bahan

input('\ntekan [enter] untuk melihat bantuan (dokumentasi) kelas: ')
help(Pagar) # untuk melihat dokumentasi kelas

tekan [enter] untuk melihat bantuan (dokumentasi) kelas:
Help on class Pagar in module __main__:

class Pagar(builtins.object)
 |  Pagar(warna, tinggi, bahan)
 |
 |  kelas pagar untuk membuat objek pagar.
 |
 |  Methods defined here:
 |
 |  __init__(self, warna, tinggi, bahan)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

Tipe Data

**1. Tipe Data Angka**

Tipe data angka dibagi menjadi beberapa jenis:

int (Integer): bilangan bulat, contoh 32, 22, 12, 10, dsb.

float: bilangan pecahan, contoh 1.3, 4.2, 22.3, dsb.

In [4]:
harga = 12000 #tipe int
berat = 23.12 #float
jarak = 3e3 #float 3000.0, huruf e artinya eksponen 10

**2. Tipe Data Teks**

Tipe data teks dibagi menjadi dua jenis:

Char: Karakter, contoh 'R'.

String: Kumpulan karakter, contoh "aku lagi makan".

Penulisan tipe data teks harus diapit dengan tanda petik. Bisa menggunakan petik tunggal ('...'), ganda ("..."), dan tiga ('''...''' atau """...""").

In [5]:
mata_kuliah = "Pengantar Deep Learning"
kode = '18H07121903'
jumlah_sks = '3'
jadwal = """
    Senin,
    13:10 - 15:40 
"""

**3. Tipe Data Boolean**

Tipe data boolean adalah tipe data yang hanya memiliki dua nilai yaitu True dan False atau 0 dan 1.

In [6]:
bergerak = True
nyala = 1 #sebenarnya tipenya int, tapi bisa juga menjadi boolean

Operator Dalam Python

**1. Operator Aritmatika**

In [7]:
# Operator penjumlahan
c = 7 + 4
print("Hasil 7 + 4 = ", c)

# Operator Pengurangan
c = 7 - 4
print("Hasil 7 - 4 = ", c)

# Operator Perkalian
c = 7 * 4
print("Hasil 7 * 4 = ", c)

# Operator Pembagian
c = 7 / 4
print("Hasil 7 / 4 = ", c)

# Operator Sisa Bagi (modulo)
c = 7 % 4
print("Hasil 7 % 4 = ", c)

# Operator Pangkat
c = 7 ** 4
print("Hasil 7 ** 4 = ", c)

Hasil 7 + 4 =  11
Hasil 7 - 4 =  3
Hasil 7 * 4 =  28
Hasil 7 / 4 =  1.75
Hasil 7 % 4 =  3
Hasil 7 ** 4 =  2401

**2. Operator Pembanding/Relasi**

In [8]:
# Operator Sama Dengan
c = 7 == 4
print("Hasil 7 == 4", c)

# Operator Tidak Sama dengan
c = 7 != 4
print("Hasil 7 != 4", c)

# Operator Lebih Kecil
callable = 7 < 4
print("Hasil 7 < 4", c)

# Operator Lebih Besar
c = 7 > 4
print("Hasil 7 > 4", c)

# Operator Lebih Besar Sama dengan
c = 7 >= 4
print("Hasil 7 >= 4", c)

# Operator Lebih Kecil Sama dengan
c = 7 <= 4
print("Hasil 7 <= 4", c)

Hasil 7 == 4 False
Hasil 7 != 4 True
Hasil 7 < 4 True
Hasil 7 > 4 True
Hasil 7 >= 4 True
Hasil 7 <= 4 False

**3. Operator Logika**

In [9]:
a = True
b = False

# Logika AND
x = a and b
print("a and b = ", x)

# Logika OR
y = a or b
print("a or b = ", y)

# Logika Not
z = not a
print("not a = ", z)

a and b =  False
a or b =  True
not a =  False

**4. Operator Bitwise**

In [10]:
# Operator AND
c = 7 & 4
print("Hasil 7 & 4 = ", c)

# Operator OR
c = 7 | 4
print("Hasil 7 | 4 = ", c)

# Operator XOR
c = 7 ^ 4
print("Hasil 7 ^ 4 = ", c)

# Operator Not
c = ~7
print("Hasil ~7 = ", c)

# Operator shift left (tukar posisi biner)
c = 7 << 4
print("Hasil 7 << 4 = ", c)

# Operator shift right (tukar posisi biner)
c = 7 >> 4
print("Hasil 7 >> 4 = ", c)

Hasil 7 & 4 =  4
Hasil 7 | 4 =  7
Hasil 7 ^ 4 =  3
Hasil ~7 =  -8
Hasil 7 << 4 =  112
Hasil 7 >> 4 =  0

Perulangan

**For**

In [11]:
ulang = 10

for i in range(ulang):
    print(f"Perulangan ke-{i}")

Perulangan ke-0
Perulangan ke-1
Perulangan ke-2
Perulangan ke-3
Perulangan ke-4
Perulangan ke-5
Perulangan ke-6
Perulangan ke-7
Perulangan ke-8
Perulangan ke-9

In [12]:
item = ['kopi', 'nasi', 'teh', 'jeruk']

for isi in item:
    print(isi)

kopi
nasi
teh
jeruk

**while**

In [13]:
tjawab = 'ya'
hitung = 0

while(True):
    hitung += 1
    jawab = input("Ulang lagi tidak? ")
    if jawab == 'tidak':
        break

print(f"Total perulagan: {hitung}")

Ulang lagi tidak? ya
Ulang lagi tidak? ya
Ulang lagi tidak? tidak
Total perulagan: 3

**Fungsi**

In [14]:
def luas_persegi(sisi):
    luas = sisi * sisi
    return luas

# pemanggilan fungsi
print("Luas persegi: %d" % luas_persegi(6))

Luas persegi: 36